In [1]:
import pandas as pd

In [2]:
# 4 산술연산
# 4-1 시리즈 연산
# 시리즈 연산자 숫자 : 시리즈 + - * / 숫자 -> 시리즈의 각 요소에 연산자 적용
student1 = pd.Series({'국어':100, '영어':90, '수학':80})
print(student1)

print(student1 + 100)
print(student1 / 200)

국어    100
영어     90
수학     80
dtype: int64
국어    200
영어    190
수학    180
dtype: int64
국어    0.50
영어    0.45
수학    0.40
dtype: float64

In [4]:
# 시리즈 연산자(+, -, *, /) 시리즈
student2 = pd.Series({'수학':80, '국어':90, '영어':80})
print(student1)    # 국어, 영어, 수학
print(student2)    # 수학, 국어, 영어

# 학생의 과목별 합계를 구함
hap = student1 + student2
cha = student1 - student2
mul = student1 * student2
div = student1 / student2
print(hap)

국어    100
영어     90
수학     80
dtype: int64
수학    80
국어    90
영어    80
dtype: int64
국어    190
수학    160
영어    170
dtype: int64

In [7]:
result = pd.DataFrame([hap, cha, mul, div], index=['+', '-', '*', '/'])
result

            국어      수학        영어
+   190.000000   160.0   170.000
-    10.000000     0.0    10.000
*  9000.000000  6400.0  7200.000
/     1.111111     1.0     1.125

In [8]:
import numpy as np
student1 = pd.Series({'국어':np.nan, '영어':80, '수학':90})
student2 = pd.Series({'수학':90, '국어':80})