In [ ]:
# p.187 - 2
if 10 < x < 20:
    print("조건에 맞습니다.")

In [1]:
# p.189 - 2
num = int(input("정수를 입력해주세요: "))

if num % 2 == 0:
    print(f'{num}은 2로 나누어 떨어지는 숫자입니다.')
else:
    print(f'{num}은 2로 나누어 떨어지는 숫자가 아닙니다.')

if num % 3 == 0:
    print(f'{num}은 3으로 나누어 떨어지는 숫자입니다.')
else:
    print(f'{num}은 3으로 나누어 떨어지는 숫자가 아닙니다.')

if num % 4 == 0:
    print(f'{num}은 4로 나누어 떨어지는 숫자입니다.')
else:
    print(f'{num}은 4로 나누어 떨어지는 숫자가 아닙니다.')

if num % 5 == 0:
    print(f'{num}은 5로 나누어 떨어지는 숫자입니다.')
else:
    print(f'{num}은 5로 나누어 떨어지는 숫자가 아닙니다.')
    
# 실행 결과
# 정수를 입력해주세요: 273
# 273은 2로 나누어 떨어지는 숫자가 아닙니다.
# 273은 3으로 나누어 떨어지는 숫자입니다.
# 273은 4로 나누어 떨어지는 숫자가 아닙니다.
# 273은 5로 나누어 떨어지는 숫자가 아닙니다.

정수를 입력해주세요: 273
273은 2로 나누어 떨어지는 숫자가 아닙니다.
273은 3으로 나누어 떨어지는 숫자입니다.
273은 4로 나누어 떨어지는 숫자가 아닙니다.
273은 5로 나누어 떨어지는 숫자가 아닙니다.

In [2]:
# p.214 - 2
numbers = [273, 103, 5, 32, 65, 9, 72, 800, 99]

for number in numbers:
    if number > 100:
        print("-100 이상의 수:", number)
# 실행 결과
# -100 이상의 수: 273
# -100 이상의 수: 103
# -100 이상의 수: 800

-100 이상의 수: 273
-100 이상의 수: 103
-100 이상의 수: 800

In [4]:
# p.215 - 4
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9]
output = [[], [], []]

for number in numbers:
    output[(number - 1) % 3].append(number)
    
print(output)

# 실행 결과
# [[1, 4, 7], [2, 5, 8], [3, 6, 9]]

[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

In [6]:
# p.215 - 5
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9]

for i in range( 0, len(numbers) // 2):
    j = i * 2 + 1
    print(f"i = {i}, j = {j}")
    numbers[j] = numbers[j] ** 2
    
print(numbers)

# 실행 결과
# i = 0, j = 1
# i = 1, j = 3
# i = 2, j = 5
# i = 3, j = 7
# [1, 4, 3, 16, 5, 36, 7, 64, 9]

i = 0, j = 1
i = 1, j = 3
i = 2, j = 5
i = 3, j = 7
[1, 4, 3, 16, 5, 36, 7, 64, 9]

In [7]:
# p.248 - 2
key_list = ["name", "hp", "mp", "level"]
value_list = ["기사", 200, 30, 5]
character = {}
for idx in range(len(key_list)):
    character[key_list[idx]] = value_list[idx]
print(character)

# 실행 결과
# {'name': '기사', 'hp': 200, 'mp': 30, 'level': 5}

{'name': '기사', 'hp': 200, 'mp': 30, 'level': 5}

In [8]:
# p.248 - 3
limit = 10000
i = 1
sum_value = 0
while True:
    sum_value += i
    i += 1
    if sum_value > limit:
        break
        
print("{}를 더할 때 {}을 넘으며 그때의 값은 {}입니다.".format(i-1, limit, sum_value))

# 실행 결과
# 141를 더할 때 10000을 넘으며 그때의 값은 10011입니다.

141를 더할 때 10000을 넘으며 그때의 값은 10011입니다.

In [10]:
# p.249 - 4
max_idx = 0
max_value = 0
for i in range(1, 100):
    value = i * (100 - i)
    if max_value < value:
        max_idx = i
        max_value = value
print(f'최대가 되는 경우: {max_idx} * {100 - max_idx} = {max_idx * (100 - max_idx)}')

# 실행 결과
# 최대가 되는 경우: 50 * 50 = 2500

최대가 되는 경우: 50 * 50 = 2500