In [2]:
# create table
from select import select
import pymysql

db = pymysql.connect(host='localhost', user='root',
                     db='sqldb', password='1234', charset='utf8')
curs = db.cursor()

In [3]:
sql = '''create table sample (
    column01 varchar(50), 
    column02 varchar(50), 
    column03 varchar(50))
'''

curs.execute(sql)

# sql = "select * from sample";
# curs.execute(sql)

# rows = curs.fetchall()
# print(rows)

# db.commit()
db.close()

In [10]:
db = pymysql.connect(host='localhost', user='root',
                     db='sqldb', password='1234', charset='utf8')
curs = db.cursor()

sql = 'select * from usertbl'

curs.execute(sql)

rows = curs.fetchall()
print(rows)
print()
for row in rows:
    print(row)

db.close()

(('BBK', '바비킴', 1973, '서울', '010', '0000000', 176, datetime.date(2013, 5, 5)), ('EJW', '은지원', 1972, '경북', '011', '8888888', 174, datetime.date(2014, 3, 3)), ('JKW', '조관우', 1965, '경기', '018', '9999999', 172, datetime.date(2010, 10, 10)), ('JYP', '조용필', 1950, '경기', '011', '4444444', 166, datetime.date(2009, 4, 4)), ('KBS', '김범수', 1979, '경남', '011', '2222222', 173, datetime.date(2012, 4, 4)), ('KKH', '김경호', 1971, '전남', '019', '3333333', 177, datetime.date(2007, 7, 7)), ('LJB', '임재범', 1963, '서울', '016', '6666666', 182, datetime.date(2009, 9, 9)), ('LSG', '이승기', 1987, '서울', '011', '1111111', 182, datetime.date(2008, 8, 8)), ('SSK', '성시경', 1979, '서울', None, None, 186, datetime.date(2013, 12, 12)), ('YJS', '윤종신', 1969, '경남', None, None, 170, datetime.date(2005, 5, 5)))

('BBK', '바비킴', 1973, '서울', '010', '0000000', 176, datetime.date(2013, 5, 5))
('EJW', '은지원', 1972, '경북', '011', '8888888', 174, datetime.date(2014, 3, 3))
('JKW', '조관우', 1965, '경기', '018', '9999999', 172, datetime.date(2010, 10, 10))
('JYP', '조용필', 1950, '경기', '011', '4444444', 166, datetime.date(2009, 4, 4))
('KBS', '김범수', 1979, '경남', '011', '2222222', 173, datetime.date(2012, 4, 4))
('KKH', '김경호', 1971, '전남', '019', '3333333', 177, datetime.date(2007, 7, 7))
('LJB', '임재범', 1963, '서울', '016', '6666666', 182, datetime.date(2009, 9, 9))
('LSG', '이승기', 1987, '서울', '011', '1111111', 182, datetime.date(2008, 8, 8))
('SSK', '성시경', 1979, '서울', None, None, 186, datetime.date(2013, 12, 12))
('YJS', '윤종신', 1969, '경남', None, None, 170, datetime.date(2005, 5, 5))

In [2]:
db = pymysql.connect(host='localhost', user='root',
                     db='sqldb', password='1234', charset='utf8')
curs = db.cursor()

sql = "select * from sample";
curs.execute(sql)

rows = curs.fetchall()
print(rows)

db.commit()
db.close()

()

In [14]:
# insert
import pymysql

db = pymysql.connect(host='localhost', user='root', db='sqldb', 
                     password='1234', charset='utf8')
curs = db.cursor()

sql='''insert into sample (column01, column02, column03) 
        values ('aa12' ,'bb12','cc12')
    '''

curs.execute(sql)

sql = "select * from sample";
curs.execute(sql)

rows = curs.fetchall()
print(rows)

db.commit()
db.close()

(('aa12', 'bb12', 'cc12'), ('aa12', 'bb12', 'cc12'), ('aa12', 'bb12', 'cc12'))

In [12]:
# 여러개의 row 검색 : select
db = pymysql.connect(host='localhost', user='root', db='python', 
                     password='passwd', charset='utf8')
curs = db.cursor()

# sql = "select * from sample";
sql = "select * from sample where column01 = 'aa' ";

curs.execute(sql)

rows = curs.fetchall()
for row in rows:
    print(row)

db.commit()
db.close()

('aa', 'bb', 'cc')

In [13]:
# update
import pymysql

db = pymysql.connect(host='localhost', user='root', 
                     db='python', password='passwd', charset='utf8')
curs = db.cursor()

sql = '''
update sample set column01 = 'cc', column02 = 'bb'
where column01 = 'aa';
'''

curs.execute(sql)

sql = "select * from sample";
curs.execute(sql)

rows = curs.fetchall()
print(rows)

db.commit()
db.close()

(('cc', 'bb', 'cc'), ('aa12', 'bb12', 'cc12'))

In [16]:
# delete
import pymysql

db = pymysql.connect(host='localhost', user='root', 
                     db='python', password='passwd', charset='utf8')
curs = db.cursor()

sql = '''
delete from sample 
where column01 = 'cc'
'''
curs.execute(sql)

sql = "select * from sample";
curs.execute(sql)

rows = curs.fetchall()
print('rollback before \n', rows)

db.rollback()   #  작업 원 위치

sql = "select * from sample";
curs.execute(sql)

rows = curs.fetchall()
print('rollback  after \n', rows)

sql='''insert into sample (column01, column02, column03) 
        values ('dd' ,'bb12','cc12')
    '''
curs.execute(sql)

sql = "select * from sample";
curs.execute(sql)

rows = curs.fetchall()
print(rows)

db.commit()
db.close()

rollback before
 (('aa12', 'bb12', 'cc12'), ('aa', 'bb12', 'cc12'))
rollback  after
 (('cc', 'bb', 'cc'), ('aa12', 'bb12', 'cc12'), ('aa', 'bb12', 'cc12'))
(('cc', 'bb', 'cc'), ('aa12', 'bb12', 'cc12'), ('aa', 'bb12', 'cc12'), ('dd', 'bb12', 'cc12'))